@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #5d6063;
  --color-supporting: #7e8184; 
  --accent-light: #eaedf0;
  --accent-light-wash: rgba(234, 237, 240, 0.5);
  --medium-blue: #5995da;
  --box-shadow-light: 0 2px 0 rgba(93,96,99,.1);
}

header {
  background-color: var(--accent-light-wash);
  box-shadow: var(--box-shadow-light);
}

.header-span,
.header-subheading,
.footer-subheading,
.product-price {
  color: var(--color-supporting);
}

.header-leading,
.footer-leading,
.product-title,
.leading-large,
.tracking-wide,
.leading-7,
main {
  color: var(--color-primary);
}

.footer-leading > span {
  color: var(--medium-blue);
}

button.tracking-wider {
  background-color: var(--color-supporting);
}
button.border-black {
  border-color: var(--color-primary);
}

.nav-header {
  background-color: #76aeed !important;
  /* background-color: #b2d6ff;
  background-color: #407fc7; */
  opacity: 0.9;
  position: sticky !important;
  top: 0;
}
.nav-header .nav-link:first-of-type {
  padding-right: 1em;
}
.nav-header .nav-link {
  color: var(--accent-light);
}

.collection-section {
  flex-direction: column !important;
}

.collection-wrapper-outer {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.collection-wrapper-inner {
  display: flex !important;
}
.collection-wrapper-inner > div:first-of-type {
  padding-left: 0 !important;
}
.collection-wrapper-inner > div:last-of-type {
  padding-right: 0 !important;
}

@media screen and (max-width: 50em) {
  .collections-list {
    grid-template-columns: 1fr;
  }

  .collection-wrapper-inner {
    flex-direction: column !important;
  }

  .collection-wrapper-inner > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
